// 定义混入指令，用于在非nvue环境下的flex定义，因为nvue没有display属性，会报错
@mixin vue-flex($direction: row) {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: $direction;
}
// @include vue-flex;

.fy-picker_wrapper{flex: 1;background-color: #ffffff;border-radius: 18rpx 18rpx 0 0;}
.fy-picker_bar{@include vue-flex;justify-content: space-between;align-items: stretch;align-items: center;}
.fy-picker_bar_btn {@include vue-flex;align-items: center;height: 48px;padding: 0 13px;text-decoration: none;line-height: 48px;font-size: 15px;}
.fy-picker_bar__border{flex: 1;height: 1px;background-color: #e9e9e9;transform: scaleY(0.8);}

.fy-picker-views{flex: 1;}
.fy-picker-view {@include vue-flex;flex: 1;}
.picker-view-column{}
.picker-view-column_item{height: 44px;@include vue-flex;align-items: center;justify-content: center;}
.picker-view-column_item_text{text-align: center;line-height: 44px;font-size: 14px;color: #333333;}
